$black: #000000;
$green: #17bb7c;
$blue: #283c66;
$grey: #f2f2f2;
$white: #ffffff;

$light-font: "Proxima Nova", light, sans-serif;
$medium-font: "Proxima Nova", medium, sans-serif;
$bold-font: "Proxima Nova", bold, sans-serif;
$extrabold-font: "Proxima Nova", extrabold, sans-serif;
